{% extends 'base.html.twig' %}

{% block title %} Strona główna {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Strona głowna</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam animi aspernatur atque aut beatae consectetur consequuntur culpa cumque debitis deleniti doloribus dolorum earum et excepturi facilis fugiat hic in incidunt ipsum iure laboriosam, magnam minima necessitatibus neque nihil officiis quam recusandae repellat repudiandae sapiente suscipit totam ut veritatis, voluptas voluptates voluptatum. Ad aliquam amet atque culpa cum delectus dolor ducimus ex facere facilis hic impedit in incidunt, laboriosam minus molestias odit pariatur praesentium quae quibusdam quis quisquam quos repellat, rerum similique voluptas voluptate! Aliquid consectetur delectus distinctio doloribus, esse, fuga incidunt ipsa iure minus natus nisi officia perferendis perspiciatis provident quibusdam quidem ratione reiciendis repellat repudiandae saepe sit tenetur ullam unde voluptas voluptate voluptates voluptatibus. Accusamus ad alias aliquid aperiam assumenda at blanditiis cum cupiditate doloribus error est fugit harum impedit inventore ipsa itaque laboriosam neque non obcaecati odio odit optio, quam quibusdam quidem quod sit totam vel. A beatae commodi cupiditate delectus, deleniti deserunt dicta eaque eligendi error facilis in incidunt ipsam natus, necessitatibus nisi perspiciatis quam qui quidem ratione voluptatum? Ad alias aspernatur beatae cumque dolorum ea harum ipsam, laborum magni nostrum pariatur porro reiciendis repellendus sit ullam vero vitae. A dignissimos molestias ut? Facilis molestias, quidem.    </p>
    </div>
{% endblock %}
